# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
*.xcf
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# Files from Forge MDK
forge*changelog.txt

# Custom
libs